:root{
    --nav-bg: #cc0028;
    --sidemenu-bg: #AC0D26;
    --sidemenu-hover: #CF2741;
    --footer-bg: #0E0F0F;
    --footer-border: #2B2C2C;
}

body{
    background-color: black;
    margin:0;
    color:white
}

.contaner{
    margin:auto;
    overflow:hidden;
}

nav#navbar{
    height:60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-bg);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav#navbar ul {
    list-style-type: none;
    width:fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    height: inherit;
}

nav#navbar ul li {
    display: inline-flex;
    align-items: center;
    padding-left: .5em;
    padding-right: .5em;
  }
    
.navlink{
    text-decoration: none;
    display: block;
    color:white;
    height: inherit;
    font-family: 'Boogaloo';
}

.navlink:hover{
    text-decoration: none;
    color:white;  
}

.sidemenu{
    display:flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--sidemenu-bg);
    z-index: 99;
}

.sidemenu ul{
    list-style: none;
    padding-left:0;
}

.sidemenu ul li{
    padding:.5em 0;
    font-size: 1.3em;
    display:flex;
    align-items: center;
}

.sidemenu ul li:hover{
    background-color: var(--sidemenu-hover);
}

header{
    display: flex;
    column-gap: 1em;
    margin-top:3em
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 0.1em;
}

#info{
    font-size: 1.2em;
}

#tid, .tagg{
    color: #666666;
}

p{
    font-family: 'Boogaloo';
}

aside p{
    margin: 0;
}

#info{
    width: 70%;
}

section{
    margin: 2em 0;
}

.tagg{
    margin-bottom:0;
    font-size: 0.9em;
}

.taggdata{
    margin: 0;
}

footer{
    background-color: var(--footer-bg);
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul{
    list-style-type: none;
    display: flex;
    padding:0;
}

footer ul li{
    padding: 10px;
}

footer ul li:nth-last-child(1){
    border:none;
}
    
footer ul li ul{
    display:flex;
    flex-direction: column;
    margin:0;
    width: 100%;
}

footer ul li ul li{
    padding: 0px;
    border: none;
    padding:0.2em;
}

footer ul li ul li a{
    color:grey;
    text-decoration: none;
    font-family: monospace;
}

footer ul li ul li a:hover{
    color:grey;
    text-decoration: underline;
}

h2{
    margin:0;
    font-family:  sans-serif;
    margin-bottom: 1em;
    color:white;
}

.hidden{
    display:none;
}

@media only screen and (max-width:500px){

    .contaner{
        width: 90%;
    }

    .slideshow{
        flex-direction: column;
    }
    
    .slideshow a{
        border-radius: 0.4em;
        width: 70%;
        margin: 1em auto;
        display: flex;
        justify-content: center;
    }  

    .sidemenu{
        top:60px;
        height: fit-content;
        width: 100%;
    }
    
    .sidemenu ul li{
        justify-content: center;
    }

    footer ul{
        list-style-type: none;
        flex-direction: column;
        width: 80%;
        box-sizing: border-box;
    }
    
    footer ul li{
        border-bottom: 1px solid var(--footer-border);
    }
    
    footer ul li ul li{
        text-align: center;
    }
    
    h2{
        text-align: center;
    }

    .hider{
        display: none;
    }
}


@media only screen and (min-width: 500px) and (max-width:1000px){

    .contaner{
        width: 90%;
    }

    .slideshow{
        flex-direction: row;
    }
    
    .slideshow a{
        width: 19.5%;
    }
    
    .slideshow a img{
        width: 100%;
    }

    .sidemenu{
        top:60px;
        height: fit-content;
        width: 100%;
    }

    .sidemenu ul li{
        justify-content: center;
    }

    footer ul{
        flex-direction: column;
        width: 60%;
    }
    
    footer ul li{
        border-bottom: 1px solid var(--footer-border);
    }
    
    footer ul li ul li{
        text-align: center;
    }

    h2{
        text-align: center;
    }

    .hider{
        display: none;
    }
}


@media only screen and (min-width: 1000px) {

    .contaner{
        width: 55%;
    }

    .slideshow{
        flex-direction: row;
    }
    
    .slideshow a{
        width: 19.5%;

    }

    .slideshow a img{
        width: 100%;
    }

    .sidemenu{
        left:0;
        height: 100vh;
        width: 25%;
    }
    
    .sidemenu ul li{
        padding-left: 2em;
    }

    footer ul{
        width: 60%;
    }
    
    footer ul li{
        width: 25%;
        border-right: 1px solid var(--footer-border);
    }
    
    footer ul li ul li{
        width:100%;
    }

    .hider{
        display: flex;
    }
}