body{
    background-color: black;
    margin:0;
}


.contaner{
    width: 60%;
    height: 1000px;
    margin:auto;
    border:3px solid white;
}

nav{
    height:60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #cc0028;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    width:fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    height: inherit;
}
nav ul li {
    display: inline-flex;
    align-items: center;
    padding-left: .5em;
    padding-right: .5em;
  }

.navlink{
    text-decoration: none;
    display: block;
    color:white;
    height: inherit;
}

.navlink:hover{
    text-decoration: none;
    color:white;  
}

footer{
    background-color: gray;
    padding: 2em;
}

footer ul{
    list-style-type: none;
    width: 60%;
    display: flex;
}

footer ul li ul{
    display:flex;
    flex-direction: column;
}


.hidden{
    display:none;
}